.App{
    margin: 0 auto;
}
form{
    display: flex;
    padding: 4px;
    height: 15vh;
    width: 60vw;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 6px;
}

form input{
    width: 20%;
    height: 2rem;
}
button{
    border: none;
    height: 2.5rem;
    background: teal;
    cursor: pointer;
}
.new-cat{
    color: teal;
    margin: 0 auto;
    text-align: center;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cat-card{
    width: 20vw;
    height: 30vw;
    background: #ffffad;
    box-shadow: 0px 4px 8px lightgray;
    margin: 20px;
    text-align: center;
}
.cat-card h3, h4{
    padding: 0;
    margin: 0
}

.cat-card img{
    width: 20vw;
    height: 25vw;
    object-fit: cover;
}